<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSecreto=>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Adicionar Pessoa - Com Spring</title>
</head>

<body>

    <ul class="topnav">
        <li><a href="/">Início</a></li>
        <hr />
        <li><a class="active" href="/adicionarPessoa">Adicionar pessoa</a></li>
        <li><a href="/listarPessoas">Listar pessoas</a></li>
        <hr />
        <li><a href="/public/noticias.html">Canais de notícias</a></li>
        <li><a href="/public/contato.html">Mande um e-Mail</a></li>
        <li class="right"><a href="/public/sobre.html">Sobre o site</a>
        </li>
    </ul>

    <!-- Iniciando a construção do formulário-->
    <div>
        <h1>Formulário para cadastro de pessoas:</h1>
        <form action="adicionadaComSucesso.html">

            <label for="nomeCompleto"> Nome completo *: </label>
            <input required type="text" name="nomeCompleto" placeholder="Insira seu nome completo" />
            <br />
            <br />
            Data de nascimento *: <input type="date" name="dataNascimento">
            <br />
            <br />
            <label for="e-Mail"> e-Mail *:</label>
            <input required type="text" name="e-Mail" placeholder="nome@dominio.com" />
            <p>Sexo*:</p>
            <input type="radio" name="opcaoSexo" value="masculino"> Masculino
            <br />
            <br />
            <input type="radio" name="opcaoSexo" value="feminino"> Feminino
            <br />
            <br />
            <input type="radio" name="opcaoSexo" value="não informar"> Não informar
            <br />
            <br />
            <input type="reset" value="Limpar">
            <input type="submit" value="Cadastrar!">
            <br />
            <br />
            <p>* Campo obrigatório</p>
        </form>
    </div>

</body>

</html>