<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta codigoSecreto="705200944" />
    <link th:href="@{/style/style.css}" rel="stylesheet" />
    <title>Editar Pessoa</title>
  </head>

  <body>
    <ul class="topnav">
      <li><a href="/">Início</a></li>
      <hr />
      <li><a href="/adicionarPessoa">Adicionar pessoa</a></li>
      <li><a href="/listarPessoas">Listar pessoas</a></li>
      <hr />
      <li><a href="/public/noticias.html">Canais de notícias</a></li>
      <li><a href="/public/contato.html">Mande um e-Mail</a></li>
      <li class="right"><a href="/public/sobre.html">Sobre o site</a></li>
    </ul>

    <div style="margin-left: 25%; padding: 1px 16px; height: 1000px">
      <h1>Editar pessoa:</h1>
      <form
        action="adicionadaComSucesso.html"
        th:action="@{/editar/{id}(id=${pessoa.id})}"
        th:object="${pessoa}"
        method="POST"
      >
        <label for="nomeCompleto"> Nome completo *: </label>
        <input
          required
          type="text"
          name="nomeCompleto"
          placeholder="Insira seu nome completo"
          th:field="*{nome}"
        />
        <br />
        <br />
        Data de nascimento *:
        <input
          required
          type="date"
          name="dataNascimento"
          th:field="*{dataNascimento}"
        />
        <br />
        <br />
        <label for="e-Mail"> e-Mail *:</label>
        <input
          required
          type="text"
          name="e-Mail"
          placeholder="nome@dominio.com"
          th:field="*{email}"
        />
        <p>Sexo*:</p>
        <input
          type="radio"
          name="genero"
          value="masculino"
          th:field="*{genero}"
          required
        />
        Masculino
        <br />
        <br />
        <input
          type="radio"
          name="genero"
          value="feminino"
          th:field="*{genero}"
          required
        />
        Feminino
        <br />
        <br />
        <input
          type="radio"
          name="genero"
          value="não informar"
          th:field="*{genero}"
          required
        />
        Não informar
        <br />
        <br />
        <input type="reset" class="button button12Px" value="Limpar" />
        <input type="submit" class="button button12Px" value="Cadastrar!" />
        <br />
        <br />
        <p>* Campo obrigatório</p>
      </form>
    </div>
  </body>
</html>
